node_modules/**
!node_modules/@xmldom/xmldom/**
!node_modules/xml2js/**
!node_modules/xmldom/**
!node_modules/@halcyontech/vscode-ibmi-types/**

.vscode/
src/
src/test/
test/
backup/
-install/
*.map
*.ts
.git/
.gitignore
.vscodeignore
tsconfig.json
xpackage.json
.DS_Store
publish.sh
*.log
.vs